.env
venv/
__pycache__/
*.pyc

app.py_
cobasns.py
templates/input_token.html
templates/index_.html

.env
venv/

.terraform/
*.tfstate
*.tfstate.backup
terraform.tfstate.txt


provider.tf
.terraform.lock.hcl


