.env
venv/
__pycache__/
*.pyc





.env
venv/

.terraform/
*.tfstate
*.tfstate.backup
terraform.tfstate.txt


provider.tf
.terraform.lock.hcl


terraform.tfstate.1751804850.backup
terraform.tfstate.1751804861.backup

terraform.tfstate.1751846809.backup
terraform.tfstate.1751846819.backup