.env
venv/
__pycache__/
*.pyc

app.py_
cobasns.py
templates/input_token.html
templates/index_.html

.github/workflows/deploy.yml

dockerfile
deployment/deploy.yaml
deployment/service.yaml
.env
venv/

provider.tf
terraform.tfstate
terraform.tfstate.
.terraform.tfstate.lock.info
terraform.tfstate.backup
.terraform/providers/registry.terraform.io/hashicorp/archive/2.7.1/windows_386/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/6.2.0/windows_386/LICENSE.txt
.terraform.lock.hcl
terraform.tfstate.1752045396.backup
planfile.tfplan

terraform.tfstate
.terraform/providers/registry.terraform.io/hashicorp/archive/2.7.1/windows_386/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/6.2.0/windows_386/LICENSE.txt
terraform.tfstate.1752045396.backup'
terraform.tfstate.backup

.terraform/providers/registry.terraform.io/hashicorp/archive/2.7.1/windows_386/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/archive/2.7.1/windows_386/terraform-provider-archive_v2.7.1_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/aws/6.2.0/windows_386/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/6.2.0/windows_386/terraform-provider-aws_v6.2.0_x5.exe
terraform.tfstate.1752045396.backup
terraform.tfstate.backup